.css-1b8zhb0 fieldset {
    border: none;

}

.css-1b8zhb0 {
    margin-top: 10px;
    background-color: #2C2D31;
    border-radius: 5px;
    color: white;
}

.css-1b8zhb0 label {
    color: white;
}

.css-1b8zhb0 svg {
    color: white;
}

.css-1b8zhb0 input {
    color: white;
}

