#chat-container {
    background: url(https://web.telegram.org/a/chat-bg-pattern-dark.ad38368a9e8140d0ac7d.png);
    background-position: top auto;
    background-size: 510px auto;
    background-repeat: repeat;

}